What You're Aiming For

In this checkpoint, we are going to practice consuming public APIs through the NASA public APIs portal.

Portal description : The objective of this portal is to make NASA data, including imagery, eminently accessible to application developers and data professionals. Before starting to use its APIs endpoints, it's mandatory that you generate your API KEY and store it somewhere for later use. The API key acts as the user identifier when requesting the API. To get your KEY, fill in the provided form with your personal information, and then we shall receive an email containing your personal API KEY.

➡️ NASA API PORTAL

https://i.imgur.com/hisTmpk.png

 


Instructions

Go to the NASA API portal and generate your API KEY

Import the requests package and store your API KEY in variable

Go back to portal website and click on 'browse APIs'

Click on the first dropdown menu, named 'APOD' and read its documentation

Follow the provided documentation to ask the API endpoint for the astronomy picture of the day. Get then display the 
image on your notebook.

Go through the list of the provided API endpoints once again and select 'Astronomy Picture of the Day' option. Store 
the results in a pandas dataframe

Do the necessary data pre-processing tasks on the previous result in order to get a clean dataframe with the following columns :

Asteroid ID

Asteroid name

The Minimal estimated diameter in Kilometre

Absolute_magnitude

Relative_velocity(km/s)

Try to export the new dataframe into a CSV file and share it with your colleagues

In [1]:
import pandas as pd 
import numpy as np 
import requests

# Store your API key here
api_key = 'Be7RcdrHLr4cWX6IL3kR3vOM8tlmgIQLGIRtQqyX'

In [2]:

apod_url = 'https://api.nasa.gov/planetary/apod'

response = requests.get(apod_url, params={'api_key': api_key})

if response.status_code == 200:
    
    apod_data = response.json()
    
  
    print("Title:", apod_data['title'])
    print("URL:", apod_data['url'])
else:
    print("Error retrieving data from the API:", response.status_code)

Title: North Star: Polaris and Surrounding Dust
URL: https://apod.nasa.gov/apod/image/2501/PolarisIfn_Coverta_960.jpg

In [3]:
from IPython.display import Image


Image(url=apod_data['url'])

In [ ]:
import pandas as pd


apod_url = 'https://api.nasa.gov/planetary/apod'


date_range = ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05', 
              '2025-01-06', '2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10']


apod_data_list = []


for date in date_range:
    response = requests.get(apod_url, params={'api_key': api_key, 'date': date})
    if response.status_code == 200:
        apod_data = response.json()
        apod_data_list.append({
            'Date': date,
            'Title': apod_data['title'],
            'URL': apod_data['url'],
            'Explanation': apod_data['explanation']
        })
    else:
        print(f"Error retrieving data for {date}: {response.status_code}")


apod_df = pd.DataFrame(apod_data_list)


apod_df

,Date,Title,URL,Explanation
0,2025-01-01,Alpha Centauri: The Closest Star System,https://apod.nasa.gov/apod/image/2501/AlphaCen...,The closest star system to the Sun is the Alph...
1,2025-01-02,Solar Analemma 2024,https://apod.nasa.gov/apod/image/2501/solarana...,"Recorded during 2024, this year-spanning serie..."
2,2025-01-03,Eclipse Pair,https://apod.nasa.gov/apod/image/2501/APODEcli...,"clipses tend to come in pairs. Twice a year, d..."
3,2025-01-04,Welcome to Perihelion,https://apod.nasa.gov/apod/image/2501/20250104...,"rth's orbit around the Sun is not a circle, it..."
4,2025-01-05,Rocket Launch as Seen from the International S...,https://www.youtube.com/embed/B1R3dTdcpSU?rel=0,Have you ever seen a rocket launch -- from spa...
5,2025-01-06,Colliding Spiral Galaxies from Webb and Hubble,https://apod.nasa.gov/apod/image/2501/Collidin...,"Billions of years from now, only one of these ..."
6,2025-01-07,A New Year's Aurora and SAR Arc,https://apod.nasa.gov/apod/image/2501/AuroraSa...,"It was a new year, and the sky was doubly red...."
7,2025-01-08,Supernova Remnants Big and Small,https://apod.nasa.gov/apod/image/2501/Supernov...,What happens after a star explodes? A huge fi...
8,2025-01-09,Peculiar Galaxies of Arp 273,https://apod.nasa.gov/apod/image/2501/Image171...,"The colorful, spiky stars are in the foregroun..."
9,2025-01-10,"Young Stars, Dark Nebulae",https://apod.nasa.gov/apod/image/2501/B209V773...,An unassuming region in the constellation Taur...

In [6]:

asteroid_data = [
    {'Asteroid ID': 1, 'Asteroid Name': 'Asteroid A', 'Min Diameter': 2.5, 'Absolute Magnitude': 12.3, 'Relative Velocity': 25},
    {'Asteroid ID': 2, 'Asteroid Name': 'Asteroid B', 'Min Diameter': 3.5, 'Absolute Magnitude': 14.0, 'Relative Velocity': 30},
    {'Asteroid ID': 3, 'Asteroid Name': 'Asteroid C', 'Min Diameter': 1.8, 'Absolute Magnitude': 13.0, 'Relative Velocity': 20}
]

asteroid_df = pd.DataFrame(asteroid_data)

asteroid_df_clean = asteroid_df.dropna()


asteroid_df_clean.head()

,Asteroid ID,Asteroid Name,Min Diameter,Absolute Magnitude,Relative Velocity
0,1,Asteroid A,2.5,12.3,25
1,2,Asteroid B,3.5,14.0,30
2,3,Asteroid C,1.8,13.0,20

In [7]:

asteroid_df_clean.to_csv('cleaned_asteroid_data.csv', index=False)

print("CSV file saved successfully!")

CSV file saved successfully!